streamlit
pandas
pymupdf
pillow
pinecone-client
langchain
langchain-community
langchain-huggingface
langchain-pinecone
sentence-transformers
faiss-cpu
biopython
boto3
groq
google-generativeai>=0.7.2
matplotlib
plotly
pytz
networkx
stmol
py3Dmol
