name: Keep App Awake
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch: # Allows you to run it manually

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Streamlit App
        run: curl -I https://bio-concepts-simplified-yash.streamlit.app/
